/.phpunit.cache
/bootstrap/ssr
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/resources/js/actions
/resources/js/routes
/resources/js/wayfinder
/vendor
.DS_Store
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/auth.json
/.fleet
/.idea
/.nova
/.vscode
/.zed
/docs
files
internshipReport/*.log
internshipReport/*.aux
internshipReport/*.lot
internshipReport/*.lof
internshipReport/*.fls
internshipReport/*.gz
internshipReport/*.fdb_latexmk
internshipReport/chapters/*.aux
internshipReport/chapters/*.log
internshipReport/plantuml/*.bkp
internshipReport/plantuml/*.dtmp
internshipReport/*.toc
main.fdb_latexmk
main.log
main.aux
main.fls